.code {
    font-family: var(--font-mono);
    font-size: 13px;
    background: rgb(var(--bg-code));
    border: none;
}

div.code {
    border: 1px solid rgb(var(--border-light));
    margin: 10px 1px;
    padding: 0.5em 1em;
    overflow: auto;
    counter-reset: linenumber;
}

div.code span.line {
    counter-increment: linenumber;
    display: inline-block;
    min-width: 100%;
    padding-left: 32px;
}
div.code span.line:hover {
    background-color: rgba(var(--bg-table-row-hover));
}
div.code span.line::before {
    content: counter(linenumber);
    position: absolute;
    left: 10px;
    width: 2.25em;
    text-align: right;
    border-right: 2px solid rgb(var(--border-light));
    padding-right: 3px;
    margin-right: 6px;
    background: rgb(var(--bg-code));
}

.code span.comment { color: rgb(var(--code-comment)); }
.code span.keyword { color: rgb(var(--code-keyword)); font-weight: bold; }
.code span.string { color: rgb(var(--code-string)); }
.code span.number { color: rgb(var(--code-number)); }
.code span.operator { color: rgb(var(--code-operator)); }
.code span.attribute { color: rgb(var(--code-attribute)); }
.code span.type { color: rgb(var(--code-type)); font-weight: bold; }
.code span.tag { color: rgb(var(--code-tag)); }
