/* ==== 各种块 == */
.lightblock, .lightblock-border {
    background-color: rgb(var(--bg-content));
    color: rgb(var(--text-main));
    padding: 0.01rem 1rem;
    margin: 0.5rem 0 0.5rem 0.25rem;
    box-shadow: var(--shadow-md);
}
.darkblock, .darkblock-border {
    background-color: rgb(var(--bg-table-header));
    color: rgb(var(--text-white));
    padding: 0.01rem 1rem;
    margin: 0.5rem 0 0.5rem 0.25rem;
    box-shadow: var(--shadow-md);
}
.lightblock-border {
    border-left: 10px solid rgb(var(--border-color));
}
.darkblock-border {
    border-left: 10px solid rgb(var(--text-white));
}

/* ==== 注音要用 ==== */
.ruby, ruby {
	display: inline-table;
    text-align: center;
    line-height: 1;
    height: 1em;
    vertical-align: text-bottom;
}

.rt, rt {
    display: table-header-group;
    font-size: 0.6em;
    line-height: 1.1;
    text-align: center;
}

.rt, .ruby, rt, ruby { white-space: nowrap; }

/* ==== 链接的那些个设定 ==== */
a:hover { color: #3A3A3A; text-shadow: 1px 1px 0 #7A7A7A;}

/* ==== 分栏布局（ONLY DESKTOP） ==== */
@media screen and (min-width: 770px) {
	/* ===== 分栏容器 ===== */
	.split-layout {
		display: flex;
		flex-wrap: nowrap;
		gap: 5px;
	}

	/* ===== 左右栏位 ===== */
	.split-layout-left {
		order: 1;
	}

	.split-layout-right {
		order: 2;
	}

	.split-layout-left,
	.split-layout-right {
		flex: 0 0 50%;
		max-width: 50%;
	}

	/* ===== 宽度定义 ===== */
	.split-width-10 {
		flex: 0 0 10%;
		max-width: 10%;
	}

	.split-width-20 {
		flex: 0 0 20%;
		max-width: 20%;
	}

	.split-width-30 {
		flex: 0 0 30%;
		max-width: 30%;
	}

	.split-width-40 {
		flex: 0 0 40%;
		max-width: 40%;
	}

	.split-width-50 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.split-width-60 {
		flex: 0 0 60%;
		max-width: 60%;
	}

	.split-width-70 {
		flex: 0 0 70%;
		max-width: 70%;
	}

	.split-width-80 {
		flex: 0 0 80%;
		max-width: 80%;
	}

	.split-width-90 {
		flex: 0 0 90%;
		max-width: 90%;
	}

	.split-width-100 {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* ==== 自定义文本们 ==== */
#rename-option-rename > div.warning-block > div.title,
#rename-option-rename > div.warning-block > p,
#rename-option-rename > div.warning-block > p > b,
#rename-option-delete > p {
    color: transparent;
    font-size: 0;
}
#rename-option-delete > p::before {
    content: var(--rename-option-delete--text);
    color: rgb(var(--text-main));
    font-style: italic;
    font-size: 1rem;
}
#rename-option-rename > .warning-block p::before {
    content: var(--rename-option-rename--warning--second);
    color: rgb(var(--text-main));
    font-size: 1rem;
}
#rename-option-rename > .warning-block p:last-of-type::before {
    content: var(--rename-option-rename--warning--third);
    font-weight: bold;
    font-size: 1rem;
}
