table.wiki-content-table, table.infobox {
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(var(--table-border-color));
}

table.wiki-content-table th,
.infobox-label,
.infobox-header,
.infobox-data,
table.wiki-content-table td {
    border: 1px solid rgb(var(--table-border-color));
    padding: 8px;
    vertical-align: top;
}

table.wiki-content-table th,
.infobox-label,
.infobox-header {
    background: rgb(var(--bg-table-header));
    color: rgb(var(--text-white));
    font-weight: bold;
}
table.wiki-content-table th { text-align: center; }

:is(
	table.wiki-content-table th, 
	.infobox-label,
	.infobox-header
) a {
    color: rgb(var(--text-white));
}

table.wiki-content-table td, .infobox-data {
    background: rgb(var(--bg-content));
}

table.wiki-content-table tr:hover td, tr:hover .infobox-data {
    background-color: rgba(var(--bg-table-row-hover));
}

table.infobox tr[class*="{$"] { display: none; }
table.infobox {
	table-layout: fixed;
	word-break: break-word;
}

.overflow {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 770px) {
    table.infobox {
        float: right;
        max-width: 200px !important;
		width: 200px;
    }
}
