.float-img.float-img-0 { --lv-float-img: url("../../../../multi-medias/imgs/float-lv-img-0.png"); }
.float-img.float-img-1 { --lv-float-img: url("../../../../multi-medias/imgs/float-lv-img-1.png"); }
.float-img.float-img-2 { --lv-float-img: url("../../../../multi-medias/imgs/float-lv-img-2.png"); }
